<div class="show-rewards-points-wrapper">
  <p class="show-rewards-points">
    <img src="https://cdn.shopify.com/s/files/1/0894/6582/files/EW-rewards.png?v=1718083674" class="show-rewards-points-img">
    <a href="/account"><u>Sign in</u></a> to earn {{ product.price | divided_by: 10 | amount_no_decimals_with_comma_separator }} reward points! </p>
</div>