<div class="o-wave {% if isFlipped == true %}is-flipped{% endif %}" data-wave-container>

  <svg class="o-wave__wave" data-wave fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4000 120">
    <path fill="{{- color1 -}}" d="M0 0h4000v120H0z" />
    <path
      d="M423.632 60.704C309.251 58.606 145.413 79.904 0 113.592V120h4000V12.524c-244.14-52.4-880.73 75.863-1147.81 87.038-316.66 13.249-674.31-111.905-889.91-85.261-194.97 24.096-524.19 87.805-668.8 99.735-40.36 4.175-82.07 5.959-124.77 5.964h-.38c-237.325-.029-505.439-54.907-744.698-59.296Z"
      fill="{{- color2 -}}"
    />  
  </svg>
</div>