<div class="o-wave {% if isFlipped == true %}is-flipped{% endif %}" data-wave-container>

  <svg class="o-wave__wave" data-wave fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4000 120">
    <path fill="{{- color1 -}}" d="M0 0h4000v120H0z" />
    <path
      d="M612.243 79.929c260.802 5.73 575.207-41.751 853.317-71.602 149.83-16.082 388.78-9.29 554.04 20.623 161.15 33.62 521.32 90.864 838.53 90.908h.73c56.59-.008 111.8-1.839 164.27-5.952C3456.57 79.929 3807.75 96.084 4000 8.327v111.531H.037L0 56.454c177.451-9.48 455.904 20.039 612.243 23.475Z"
      fill="{{- color2 -}}" />
    <path fill="#fff" d="M0 0h4000v120H0z" />
  </svg>

</div>