<div class="o-wave {% if isFlipped == true %}is-flipped{% endif %}" data-wave-container>
  <svg class="o-wave__wave" data-wave fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4000 120">
    <path fill="{{- color1 -}}" d="M0 0h4000v120H0z" />
    <path
      d="M1419.23 32.173c-269.33 29.746-573.823 91.646-826.37 85.706C441.469 114.318 171.843 84.499 0 93.881V120h4000V79.024c-516.47-178.919-1017.79-2.23-1247.93 27.312-74.8 9.601-146.78 13.578-215.57 13.663h-4.49c-234.48-.288-431.73-45.537-577.26-66.733-160.01-30.13-390.42-37.118-535.52-21.093Z"
      fill="{{- color2 -}}" />
  </svg>
</div>