{%- comment -%}
  Icon Blocks
    Section to icon blocks

  Version:
    1.0.0 - 2021/12/10
{%- endcomment -%}

{%- unless customer -%}

  {{ 'sections.icon-blocks.css' | asset_url | stylesheet_tag }}

  {%- comment -%} Assign variables {%- endcomment -%}
  {%- liquid
    assign title = section.settings.title | escape
    assign iconBlocks = section.blocks | where: 'type', 'icon-block'

    assign topWave = section.settings.top-wave
    assign topColor1 = section.settings.top-color-1
    assign topColor2 = section.settings.top-color-2
    assign isFlippedTop = section.settings.flip-top-wave
    
    assign bottomWave = section.settings.bottom-wave
    assign bottomColor1 = section.settings.bottom-color-1
    assign bottomColor2 = section.settings.bottom-color-2
    assign isFlippedBottom = section.settings.flip-bottom-wave
  -%}
  
  {%- if iconBlocks.size > 0 -%}

    {%- comment -%} Top Wave {%- endcomment -%}
    {%- if topWave != "0" -%}
      {%- render 'object.wave' with {
        waveNumber:topWave
        color1: topColor1
        color2: topColor2,
        isFlipped: isFlippedTop
      } -%}
    {%- endif -%}   

    <div class="c-icon-blocks">
      <div class="c-icon-blocks__inner">
        
        {%- comment -%} Title {%- endcomment -%}
        {%- if title != blank -%}
          <h3 class="c-icon-blocks__title">
            {{- title -}}
          </h3>
        {%- endif -%}

        {%- comment -%} Icon Blocks {%- endcomment -%}
        {%- render 'object.icon-blocks' with {
          iconBlocks: iconBlocks
        } -%}
        
      </div>
    </div>

    {%- comment -%} Bottom Wave {%- endcomment -%}
    {%- if bottomWave != "0" -%}
      {%- render 'object.wave' with {
        waveNumber:bottomWave
        color1: bottomColor1
        color2: bottomColor2,
        isFlipped: isFlippedBottom
      } -%}
    {%- endif -%}
  {%- endif -%}

{%- endunless -%}

{% schema %}
{
  "name": "Logged Out - Icon Blocks",
  "class": "c-section c-section__icon-blocks",
  "presets": [
    {
      "category": "Content",
      "name":"Icon Blocks"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "This section will only display if customers are not logged in"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Top Wave"
    },
    {
      "type": "select",
      "id": "top-wave",
      "label": "Top Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "top-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "top-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-top-wave",
      "label": "Flip wave vertically",
      "default": false
    },
    {
      "type": "header",
      "content": "Bottom Wave"
    },
    {
      "type": "select",
      "id": "bottom-wave",
      "label": "Bottom Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "bottom-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "bottom-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-bottom-wave",
      "label": "Flip wave vertically",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "icon-block",
      "name": "Icon Block",
      "settings": [
        {
          "type": "textarea",
          "id": "svg-code",
          "label": "SVG code",
          "info": "Ensure that the svg has been optimised and that it uses viewbox rather then width & height. This browser tool can be used to do this: https://jakearchibald.github.io/svgomg/."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Line 1"
        },
        {
          "type": "text",
          "id": "line-2",
          "label": "Line 2"
        }
      ]
    }
  ]
}
{% endschema %}