{{ 'sections.donations-charity-form.css' | asset_url | stylesheet_tag }}

{%- liquid 
  assign title =  section.settings.title | escape 
  assign subheading =  section.settings.subheading | escape 

  assign topWave = section.settings.top-wave
  assign topColor1 = section.settings.top-color-1
  assign topColor2 = section.settings.top-color-2
  assign isFlippedTop = section.settings.flip-top-wave

  assign bottomWave = section.settings.bottom-wave
  assign bottomColor1 = section.settings.bottom-color-1
  assign bottomColor2 = section.settings.bottom-color-2
  assign isFlippedBottom = section.settings.flip-bottom-wave
-%}


{%- if title != blank or subheading != blank -%}  

  {%- comment -%} Top Wave {%- endcomment -%}
  {%- if topWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:topWave
      color1: topColor1
      color2: topColor2,
      isFlipped: isFlippedTop
    } -%}
  {%- endif -%} 

  <div class="c-donations-charity-form" data-charity-form>
    <div class="c-donations-charity-form__inner">

      {%- comment -%} Subheading {%- endcomment -%}
      {%- if subheading != blank -%}
        <p class="c-donations-charity-form__subheading">
          {{- subheading -}}
        </p>
      {%- endif -%}

      {%- comment -%} Title {%- endcomment -%}
      {%- if title != blank -%}
        <p class="c-donations-charity-form__title o-heading--2">
          {{- title -}}
        </p>
      {%- endif -%}

      {%- comment -%} Charity Form {%- endcomment -%}
      {%- render 'form.charity' -%}

      </div> 
    </div>
   
  </div>

  {%- comment -%} Bottom Wave {%- endcomment -%}
  {%- if bottomWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:bottomWave
      color1: bottomColor1
      color2: bottomColor2,
      isFlipped: isFlippedBottom
    } -%}
  {%- endif -%} 

{%- endif -%}

{% schema %}
{
  "name": "Charity Form",
  "class": "c-section c-section__donations-charity-form",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Pre Title",
      "default":"Thing you know of a charity we'd like to support?"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default":"Tell us below!"
    },
    {
      "type": "header",
      "content": "Top Wave"
    },
    {
      "type": "select",
      "id": "top-wave",
      "label": "Top Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "top-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "top-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-top-wave",
      "label": "Flip wave vertically",
      "default": false
    },
    {
      "type": "header",
      "content": "Bottom Wave"
    },
    {
      "type": "select",
      "id": "bottom-wave",
      "label": "Bottom Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "bottom-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "bottom-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-bottom-wave",
      "label": "Flip wave vertically",
      "default": false
    }
  ]
}
{% endschema %}