{%- comment -%}
  Video
    Section to show video with a title

  Version:
    1.0.0 - 2021/10/20
{%- endcomment -%}

{{ 'sections.video.css' | asset_url | stylesheet_tag }}
{{ 'sections.video.js' | asset_url | script_tag }}

{%- comment -%} Assign variables {%- endcomment -%}
{%- liquid
  assign title = section.settings.title | escape
  assign image = section.settings.poster | img_url: '2920x1816'
  assign urlWebm = section.settings.video-webm | escape
  assign urlMp4 = section.settings.video-mp4 | escape

  assign topWave = section.settings.top-wave
  assign topColor1 = section.settings.top-color-1
  assign topColor2 = section.settings.top-color-2
  assign isFlippedTop = section.settings.flip-top-wave

  assign bottomWave = section.settings.bottom-wave
  assign bottomColor1 = section.settings.bottom-color-1
  assign bottomColor2 = section.settings.bottom-color-2
  assign isFlippedBottom = section.settings.flip-bottom-wave
-%}

{%- if image != blank -%}

  {%- comment -%} Top Wave {%- endcomment -%}
  {%- if topWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:topWave
      color1: topColor1
      color2: topColor2,
      isFlipped: isFlippedTop
    } -%}       
  {%- endif -%}

  <div class="c-video">
    <div class="c-video__inner">
      {%- comment -%} Title {%- endcomment -%}
      {%- if title != blank -%}
        <h2 class="c-video__title">
          {{- title -}}
        </h2>
      {%- endif -%}

      {%- comment -%}
        Show video if we have a video url, otherwise show a static image instead
      {%- endcomment -%}
      <div class="c-video__media-wrapper">
        {%- if urlWebm != blank or urlMp4 != blank -%}
          {%- render 'object.featured-video' with {
            poster: image,
            videoMp4: urlMp4,
            videoWebm: urlWebm,
            class: 'c-video__media',
            attributes: 'playsinline preload="none"'
          } -%}
        {%- else -%}
          <div class="c-video__media-container o-responsive-image-container">
            {%- render 'tool.picture' with {
              image: image,
              width: 1460,
              imageSizes: '336,510,710,900,1250',
              sizes: '375,550,750,1100,1350',
              lazy: true
            } -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>

  {%- comment -%} Bottom Wave {%- endcomment -%}
  {%- if bottomWave != "0" -%}
   {%- render 'object.wave' with {
     waveNumber:bottomWave
     color1: bottomColor1
     color2: bottomColor2,
     isFlipped: isFlippedBottom
   } -%}
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Video",
  "class": "c-section c-section__video",
  "presets": [
    {
      "category": "Media",
      "name":"Video"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "poster",
      "label": "Video Poster",
      "info": "Dimensions: 2920px X 1568px. The poster specifies an image to be shown while the video is downloading, or until the user hits the play button. If this is not included, the first frame of the video will be used instead."
    },
    {
      "type": "header",
      "content": "Video Formats",
      "info": "For the video ideally you should upload a video in both webm and mp4 format. We will then serve the best format depending on the device and browser. If you're not able to provide both formats, then you should try and aim to at least provide the video in an mp4 format."
    },
    {
      "type": "url",
      "id": "video-webm",
      "label": "Video Url (webm)",
      "info": "The url of the video in webm format. This can be uploaded into the Shopify via settings->files."
    },
    {
      "type": "url",
      "id": "video-mp4",
      "label": "Video Url (mp4)",
      "info": "The url of the video in mp4 format. This can be uploaded into the Shopify via settings->files."
    },
    {
      "type": "header",
      "content": "Top Wave"
    },
    {
      "type": "select",
      "id": "top-wave",
      "label": "Top Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "top-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "top-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-top-wave",
      "label": "Flip wave vertically",
      "default": false
    },
    {
      "type": "header",
      "content": "Bottom Wave"
    },
    {
      "type": "select",
      "id": "bottom-wave",
      "label": "Bottom Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "bottom-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "bottom-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-bottom-wave",
      "label": "Flip wave vertically",
      "default": false
    }
  ]
}
{% endschema %}