.o-product-thumbnail{display:flex;flex-direction:column;justify-content:space-between}.o-product-thumbnail.has-hover-image:hover .o-product-thumbnail__image{opacity:0}.o-product-thumbnail.has-hover-image:hover .o-product-thumbnail__hover-image{opacity:1}.o-product-thumbnail__image-container{display:block;margin-bottom:.4375rem}.o-product-thumbnail__title{margin-bottom:0;text-align:center}.o-product-thumbnail__title-container{display:block;margin-bottom:.375rem}.o-product-thumbnail__image-wrapper{position:relative}.o-product-thumbnail__image{opacity:1;transition:opacity .4s}.o-product-thumbnail__hover-image{opacity:0;transition:opacity .4s}.o-product-thumbnail__badge{display:block;text-align:center;color:#e4987f;margin:.5rem 0}.o-product-thumbnail__pricing{margin-bottom:0;color:#e4987f}.o-product-thumbnail__pricing-compare{color:#393939;opacity:.5}.o-product-thumbnail__pricing-container{display:block;margin-bottom:1rem;text-align:center}.o-product-thumbnail__pricing-compare{display:inline-block;color:rgba(0,0,0,.5);text-decoration:line-through;margin-right:.25rem}.o-product-thumbnail__button-wrapper{text-align:center}.o-product-thumbnail__button-wrapper.is-desktop{display:none}.is-thumbnail-cream .o-product-thumbnail__button,.is-thumbnail-white .o-product-thumbnail__button{color:#e4987f}@media only screen and (min-width:1100px){.o-product-thumbnail{position:relative;display:block}.o-product-thumbnail__button-wrapper{position:absolute;right:0;bottom:0}.o-product-thumbnail__button-wrapper.is-desktop{display:block}.o-product-thumbnail__button-wrapper.is-mobile{display:none}.o-product-thumbnail__button-label{max-width:4.6875rem}}@media only screen and (min-width:1650px){.o-product-thumbnail__image-wrapper{margin-bottom:1rem}.o-product-thumbnail__title-container{margin-bottom:.875rem}.o-product-thumbnail__button-label{max-width:6.125rem}}.o-pagination{font-weight:500;width:100%;text-align:center;letter-spacing:0;display:flex;justify-content:center;position:relative;align-items:center}.o-pagination>span{display:inline-block}.o-pagination>span.page{margin:0 1.125rem}.o-pagination>span.page:last-child{margin-right:0}.o-pagination>span.page.current{cursor:default;color:#e4987f;border-bottom:.125rem solid #e4987f}.o-pagination>span.page a{display:inline-block}.o-pagination>span.page a:hover{color:#e4987f}.o-pagination>span.next,.o-pagination>span.prev{font-size:0;width:1.25rem;height:1.25rem;background:url(icon-arrow.svg) no-repeat 50%;display:block;cursor:pointer;overflow:hidden}.o-pagination>span.next a,.o-pagination>span.prev a{display:inline-block;width:100%;height:100%}.o-pagination>span.next:hover,.o-pagination>span.prev:hover{filter:invert(71%) sepia(12%) saturate(1577%) hue-rotate(326deg) brightness(95%) contrast(88%)}.o-pagination>span.next{margin-left:.5rem}.o-pagination>span.prev{transform:rotate(180deg);margin-right:.5rem}@media only screen and (min-width:1100px){.o-pagination{font-size:1.5rem;line-height:1.3}.o-pagination>span.next,.o-pagination>span.prev{width:2rem;height:2rem}.o-pagination>span.next{margin-left:.75rem}.o-pagination>span.prev{margin-right:.75rem}.o-pagination>span.page{color:#000;margin:0 1.375rem}}.c-search-results{background-color:#fff;margin-top:2.5rem;padding:0 1.25rem}.c-search-results #searchresults input{width:100%;margin:1.25rem 0 0}.c-search-results__title{text-align:center}.c-search-results__subtitle{text-align:center;max-width:14rem;margin:0 auto 2rem}.c-search-results__no-results{display:none;color:#000;padding-bottom:1rem}.c-search-results__search-term{color:#000}.c-search-results__search-btn.o-btn{background-color:#e4987f;padding:.75rem 2.5rem}.c-search-results__outer{margin:3.125rem auto 0}.c-search-results__outer.no-results{background-color:#fff}.c-search-results__outer.no-results .c-search-results__heading-inner{display:none}.c-search-results__outer.no-results .c-search-results__no-results{display:block}.c-search-results__breadcrumbs{text-align:center}.c-search-results__heading{margin:0;text-align:center}.c-search-results__container{display:grid;grid-template-columns:1fr 1fr;gap:4.0625rem 1rem;list-style:none;padding:1.875rem 0 3.5625rem}.c-search-results__item{width:100%}.c-search-results__product-card{height:100%}.c-search-results__pagination{margin-bottom:4rem}@media only screen and (min-width:750px){.c-search-results{margin-top:6.25rem}.c-search-results__search-container#searchresults{max-width:43.75rem;margin:0 auto}.c-search-results__container{grid-template-columns:repeat(3,1fr)}.c-search-results__search-btn.o-btn{background-color:#e4987f;padding:.75rem 2.5rem;display:block}#searchresults input+.c-search-results__search-btn{width:auto;margin:2rem auto 0}.c-search-results__title{margin-bottom:1.25rem}}@media only screen and (min-width:1100px){.c-search-results{max-width:125rem;margin:8rem auto 0;padding:0}.c-search-results__subtitle{max-width:18rem}.c-search-results__container{padding:2.5625rem min(6%,7.5rem) 10rem;grid-template-columns:repeat(4,1fr);gap:4.5rem 1.5rem 10rem}.c-search-results__pagination{margin:2rem 0 10rem}}@media only screen and (min-width:1650px){.c-search-results__container{max-width:125rem;padding:4.3125rem min(6%,7.5rem) 14rem;margin:0 auto;gap:6.875rem 2.625rem}}
.c-collection-loader {
  width: 24px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
  display: none;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.loading .c-collection-loader {
  display: inline-block;
}
@keyframes l7 {
  33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
  50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
  66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}
.o-product-thumbnail__imperfect-badge {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.o-product-thumbnail__imperfect-badge .badge__content {
  margin: 0;
  padding: 2px 6px;
  font-size: 15px;
  font-weight: 700;
  color: #e4987f;
  background-color: #f4e9d2;
  border-radius: 20px;
}

.o-product-thumbnail__imperfect-badge span:has(svg) {
  height: 11px;
  width: 11px;
  display: inline-block;
  margin-inline: 5px;
}

.o-product-thumbnail__imperfect-badge svg {
  color: currentColor;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: -1px;
  fill: currentColor;
}

@media only screen and (min-width: 450px) {
  .o-product-thumbnail__imperfect-badge .badge__content {
    font-size: 18px;
  }
}
